.page{
  width : 780px;
  margin : auto;
  font-size : 16px;
  font-family :'source sans pro', Tahoma, sans-serif;
}
.infophoto{
  height : 250px;
}
.info{
  float : left;
}
.photo{
 float : right;
}
